.footer {
    height: 100%;
    text-align: center;
    padding: 20px;
    background-color: #d10e0e;
    color: white;
    
    
  }
  .footer a{
    color: rgb(238, 244, 248);
    font-size: larger;
  }



